    @media print, screen and (min-width: 640px){
    /*デフォルトの設定*/
*{margin:0;padding:0}
/*ヘッダの設定*/
div#header{
    font-family : "Yu Gothic","Hiragino Maru Gothic ProN";
    /*ボックスの設定*/padding: 0 0 0 2%;   /*枠内余白（上右下左）*/
    background-color:#008000;/*背景色*/
    
    /*ボックスの配置*/
    
    /*文字の設定*/
    color: white;       /*文字の色*/
}

/*コンテンツの設定*/
div#content{
    font-family : "Yu Gothic","Hiragino Maru Gothic ProN";
    /*ボックスの設定*/
    width: 83%; max-width: 100%;        /*幅*/
    height:1000px;      /*高さ*/
    padding: 0 0 0 2%;  /*枠内余白（上右下左）*/
    /*ボックスの配置*/
    float: right;       /*回り込み（右寄せ）*/
    /*文字の設定*/
    background-color:#E0FFFF;
    }
    
/*ナビの設定*/
div#navi{
    /*ボックスの設定*/
    width: 13%;         /*幅*/
    height: 1000px;     /*高さ*/
    padding: 0 0 0 2%;  /*枠内余白（上右下左）*/
    background: #B1F9D0; /*背景色*/
    /*ボックスの配置*/
     float: left;       /*回り込み（左寄せ）*/
    /*文字の設定*/
    }
}
